<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .item {
      display: inline-block;
      background: #eee; padding: 5px 10px;
      margin: 10px; cursor: pointer;
    }
    .on {
      color: orange; font-weight: bold;
    }
  </style>
</head>
<body>
  <div id='app'>
    <div>标赔</div>
    <my-row :list='list1' v-model='index'></my-row>
    <div>让球</div>
    <my-row :list='list2' v-model='index'></my-row>
    <my-row :list='list3' v-model='index'></my-row>

    <h2>你选择的结果是：<span v-text='rate.title'></span></h2>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script type="text/javascript">
  // my-row表示demo效果中的“一行”
  Vue.component('my-row', {
    props: {
      list: {
        type: Array,
        required: true
      },
      value: {
        type: Number,
        required: true
      }
    },
    template: `
      <div>
        <span
          :class="{'on': item.id == value}"
          class='item'
          v-for='item in list'
          :key='item.id'
          v-text='item.title'
          @click='change(item)'>
        </span>
      </div>
    `,
    methods: {
      change(item) {
        this.$emit('input', item.id)
      }
    }
  })

  var app = new Vue({
    el: '#app',
    data: {
      list1: [{id:1,title:'1.01'}, {id:2,title: '1.02'}, {id:3,title:'1.03'}, {id:4,title: '1.04'}],
      list2: [{id:5,title:'1.05'}, {id:6,title: '1.06'}, {id:7,title:'1.07'}, {id:8,title: '1.08'}],
      list3: [{id:9,title:'1.09'}, {id:10,title: '1.10'}, {id:11,title:'1.11'}, {id:12,title: '1.12'}],
      index: 1,
    },
    computed: {
      rate: function() {
        return [...this.list1, ...this.list2, ...this.list3].find(ele=>ele.id==this.index)
      }
    }
  })
  </script>
</body>
</html>
