<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cnode</title>
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>

  <div id='app' class='app'>

    <div class="head">
      <a href="https://cnodejs.org/" target="_blank">cnodejs.org</a>
    </div>

    <!-- 分类筛选 -->
    <list-filter :cates='cates' v-model='tab'></list-filter>

    <!-- 加载中 -->
    <list-loading :show='!loaded'></list-loading>

    <!-- 文章列表 -->
    <div v-show='loaded' v-for='(ele,idx) in list'>
      <list-item :article='ele'></list-item>
    </div>

    <!-- 分页 -->
    <list-page @prev='pageHandle' @next='pageHandle'></list-page>

  </div>


  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src='./fetch.js'></script>
  <script src='./components/list-item.js'></script>
  <script src='./components/list-loading.js'></script>
  <script src='./components/list-filter.js'></script>
  <script src='./components/list-page.js'></script>

  <!-- app.js的引入，必须在各个组件之后 -->
  <script src='./app.js'></script>

</body>
</html>
