<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id='app'>
    <my-async-component></my-async-component>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    Vue.component('my-async-component', function(resolve, reject) {
      setTimeout(function(){
        resolve({
          template: `<h1>我是异步组件</h1>`
        })
      }, 5000)
    })

    var app = new Vue({
      el: '#app',
      data: {}
    })
  </script>

</body>
</html>
