<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id='app'>
    <my-select :list='list' v-model='sport' ></my-select>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    Vue.component('my-select', {
      props: {
        list: {
          type: Array,   // 下拉列表项
          require: true
        },
        value: {
          type: String,
          require: false,
          default: '1'
        }
      },
      template:`
      <div>
        <select class="" name="" :value='value' @change='change'>
          <option v-for='(ele) in list' :value="ele.id" v-text='ele.title'></option>
        </select>
      </div>
      `,
      methods: {
        change(e) {
          // 子组件表单的值，发生变化时，通过事件通信的方式，把值返回给父组件
          this.$emit('input', e.target.value)
        }
      }

    })

    var app = new Vue({
      el: '#app',
      data: {
        list: [
          {id:1, title:'篮球'},
          {id:2, title:'足球'},
          {id:3, title:'羽毛球'},
          {id:4, title:'网球'}
        ],
        sport: '2'
      },

    })
  </script>

</body>
</html>
